
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark rounded grey h5-responsive">
  <logo class="grey p-1 rounded">
    <a href="http://www.idealecommerce.com.br/site/" target="_blank">
      <img src="../../../assets/logo-idealeware.png" class="navbar-brand">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link waves-light" [routerLink]="['/']"><img src="../../../assets/home.png">
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['categoria']">Categorias</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['produto']">Produtos</a>
      </li>
    </ul>
  </links>
</mdb-navbar>