<div class="d-flex justify-content-center">
  <div class="card mt-2 wdt-default mb-2">
    <div class="card-body">
      <div>
        <a class="btn btn-primary btn-sm float-right mt-0 btn-fnt-size" [routerLink]="['novo']">NOVO</a>
        <h4 class="card-title">Produtos</h4>
      </div>

      <hr>

      <div class="alert alert-success text-center" role="alert" *ngIf="successMgs">
        {{ successMgs }}
      </div>

      <div class="alert alert-danger text-center" role="alert" *ngIf="failMgs">
        {{ failMgs }}
      </div>

      <table class="table table-hover table-sm" *ngIf="products">
        <thead>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Status</th>
          <th>Categoria</th>
          <th>Criação</th>
          <th></th>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency:'BRL' }}</td>
            <td>{{ product.status ? 'Ativo' : 'Inativo' }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.createdOn | date:'dd/MM/yyyy' }}</td>
            <td>
              <a class="btn btn-light-blue btn-rounded waves-light" [routerLink]="['editar', product._id]" mdbWavesEffect>
                <i class="material-icons ic-size">edit</i>
              </a>
              <a class="btn btn-danger btn-rounded waves-light" (click)="removeProduct(product)" mdbWavesEffect>
                <i class="material-icons ic-size">clear</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>