<img class="mr-5 ml-5" src="../../../assets/angular.png" width="150" height="180">
<img class="mr-5" src="../../../assets/aspnetcore.png" width="200" height="160">
<img class="mr-5" src="../../../assets/mongodb.png" width="200" height="250">
<img src="../../../assets/swagger.png" width="200" height="200">