<div class="d-flex justify-content-center">
  <div class="card mt-2 wdt-default mb-2">
    <div class="card-body">
      <div>
        <a class="btn btn-blue-grey btn-sm float-right mt-0 btn-fnt-size" [routerLink]="['/produto']">VOLTAR</a>
        <h4 class="card-title">Novo Produto</h4>
      </div>

      <hr>

      <div class="alert alert-danger text-center" role="alert" *ngIf="failMgs">
        {{ failMgs }}
      </div>

      <form #formProduct="ngForm" *ngIf="categories" >
        <div class="row">
          <div class="col-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="name" data-error=" " data-success=" " name="name" [(ngModel)]="product.name" class="form-control"
                required>
              <label for="name" class="">Nome</label>
            </div>
          </div>

          <div class="col-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="descriop=ption" data-error=" " data-success=" " name="description" [(ngModel)]="product.description"
                class="form-control">
              <label for="description" class="">Descrição</label>
            </div>
          </div>

          <div class="col-4">
            <div class="md-form">
              <input mdbInputDirective currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" type="text" id="price"
                data-error=" " data-success=" " name="price" [(ngModel)]="product.price" class="form-control">
              <label for="price" class="">Preço</label>
            </div>
          </div>

          <div class="col-4">
            <label>Categoria</label>
            <select [(ngModel)]="product.category" name="category" class="col-12" required>
              <option value="" disabled selected></option>
              <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
            </select>
          </div>

          <div class="col-4">
            <label>Status</label>
            <select [(ngModel)]="product.status" name="status" class="col-12" required>
              <option value="" disabled selected></option>
              <option value="true">Ativo</option>
              <option value="false">Inativo</option>
            </select>
          </div>
        </div>
        <button [disabled]="!formProduct.form.valid" (click)="createProduct()" class="btn btn-sm btn-success">Salvar</button>
      </form>
    </div>
  </div>
</div>