<app-loader *ngIf="loading"></app-loader>

<div class="container mt-3 ht-zero">
    <app-header *ngIf="!loading"></app-header>
    <div *ngIf="!loading" class="mt-3 grey lighten-5 ht-total rounded">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>