<div class="d-flex justify-content-center">
  <div class="card mt-2 wdt-default mb-2">
    <div class="card-body">
      <div>
        <a class="btn btn-blue-grey btn-sm float-right mt-0 btn-fnt-size" [routerLink]="['/categoria']">VOLTAR</a>
        <h4 class="card-title"> Nova Categoria</h4>
      </div>

      <hr>

      <div class="alert alert-danger text-center" role="alert" *ngIf="failMgs">
        {{ failMgs }}
      </div>

      <form #formCategory="ngForm">
        <div class="row">
          <div class="col-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="name" data-error=" " data-success=" " name="name" [(ngModel)]="category.name" class="form-control"
                required>
              <label for="name" class="">Nome</label>
            </div>
          </div>

          <div class="col-4">
            <div class="md-form">
              <input mdbInputDirective type="text" id="description" data-error=" " data-success=" " name="description" [(ngModel)]="category.description"
                class="form-control">
              <label for="description" class="">Descrição</label>
            </div>
          </div>

          <div class="col-4">
            <label>Status</label>
            <select [(ngModel)]="category.status" name="status" class="col-12" required>
              <option value="" disabled selected></option>
              <option value="true">Ativo</option>
              <option value="false">Inativo</option>
            </select>
          </div>
        </div>
        <button [disabled]="!formCategory.form.valid" (click)="createCategory()" class="btn btn-sm btn-success">Salvar</button>
      </form>
    </div>
  </div>
</div>